---
layout: bootcamp
root: .
venue: The Genome Analysis Centre (TGAC)
address: Norwich Research Park, Norwich
country: United-Kingdom
humandate: February 3-4, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2014-02-03
enddate: 2014-02-04
latlng: 52.6217629,-1.2409930
registration: restricted
instructor: ["Aleksandra Pawlik", "Robert Davey"]
contact: admin-uk@software-carpentry.org
---

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/contact.html %}

<hr/>


<h2> Timetable </h2>
<strong>Monday, 3rd February</strong>
<ul>
<li>9.00 - 9.15 Arrival and setup</li>
<li>9.15 - 9.30  Welcome</li>
<li>9.30 - 10.30 Using the shell to do more in less time p.1</li>
<li>10.30 -11.00 Break</li>
<li>11.00 - 12.30 Using the shell to do more in less time p.2 </li>
<li>12.30 - 13.30 Lunch</li>
<li>13.30 - 15.00 Using version control to manage and share information p.1</li>
<li>15.00 - 15.30 Break</li>
<li>15.30 - 16.00 Using version control to manage and share information  p.2</li>
<li>16.00 -17.00 Python and good programming practice p.1</li>
</ul>

<strong>Tuesday, 4th February</strong>
<ul>
<li>9.00 - 9.30 Recap & questions</li>
<li>9.30 - 10.30 Python and good programming practice p.2</li>
<li>10.30 - 11.00 Break</li>
<li>11.00 - 12.30 Using Python for scientific programming</li>
<li>12.30 - 13.30 Lunch</li>
<li>13.30 - 15.00 How (and how much) to test programs</li>
<li>15.00 - 15.30 Break</li>
<li>15.30 - 16.30 Final exercises / To be determined based on the
expectations and preferences of the attendees</li>
<li>16:30 - 17:00 Wrap-up</li>
</ul>

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>



  


<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
  <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li>
</ul>
